.btn {
    border: none;
    background-color: #FFDF37;
}

.btn:hover, .btn:focus {
    cursor: pointer;
}

/*.btn:focus {
    border: 1px solid #00FFFF;
}*/


.btn-play {
    background: center url(../images/play.svg) no-repeat transparent;
    width: 2.46vw;
    height: 2.7vh;
    border-radius: 0.3vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-play:hover, .btn-play:focus {
    background: center url(../images/play.svg) no-repeat black;
}

.btn-close {
    font-size: 20px;
    color: white;
    background-color: transparent !important;
    width: 1vw;
    height: 1vh;
}
