@media (max-width: 768px) {
    .page {
        background: url(../images/background-sm.png) no-repeat #2E3D39;
        background-size: cover;
    }

    .popup__content {
        width: 100vw;
        height: 100vh;
    }

    .popup__close {
        position: fixed;
        top: 2vh;
        left: 95vw;
        margin: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .page {
        background: url(../images/background-md.png) no-repeat #2E3D39;
        background-size: cover;
    }
}