@font-face {

    font-family: Quentin;
    src: url(../fonts/Quentin.otf);
}

@font-face {
    font-family: TiemposFine;
    src: url(../fonts/TiemposFine-Bold.otf);
}

html {
    font-size: 14px;
}

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}


.page {
    background: center url(../images/background-lg.png) no-repeat #2E3D39;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 100vh;
    display: flex;
}


.page-dark {
    background-blend-mode: multiply;
}

.page__content {
    width: 56.49vw;
    height: 41.48vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.page__decoration {
    border: none;
    background-color: #FFDF37;
    width: 6.01vw;
    height: 0.81vh;
    margin: auto;
}

.page__note {
    font-family: Quentin;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem; /*4.2vw;*/
    line-height: 60px;/*3.6vw;*/
    color: #FFFFFF;
    letter-spacing: 0.016vw;

}

.page__title {
    text-align: center;
    font-family: TiemposFine;
    font-weight: 400;
    font-style: normal;
    font-size: 3.57rem; /*3vw;*/
    line-height: 60px;/*3.6vw;*/
    color: #FFFFFF;
    letter-spacing: 0.02vw;
}

.page__button {
    margin: auto;
}

.page__button:hover {
    cursor: pointer;
}

.page__popup {
    position: fixed;
    top: 10vh;
    left: 10vw;
    margin: auto;
}
