.popup {
    display: none;
}

.popup-open {
    display: block;
}

.popup__content {
    width: 80vw;
    height: 80vh;
}

.popup__close {
    position: fixed;
    top: 4vh;
    left: 89vw;
    margin: auto;
}

.popup__close:hover {
    cursor: pointer;
}
